dp2OPAC/Old_App_WebReferences/YczbSso/ValidatorImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.authentication.cbpm.com/" name="ValidatorImplService" targetNamespace="http://webservice.authentication.cbpm.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.authentication.cbpm.com/">
      <xsd:element name="test" type="tns:test" />
      <xsd:complexType name="test">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg1" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="testResponse" type="tns:testResponse" />
      <xsd:complexType name="testResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="login" type="tns:login" />
      <xsd:complexType name="login">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg1" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg2" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="loginResponse" type="tns:loginResponse" />
      <xsd:complexType name="loginResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="validate" type="tns:validate" />
      <xsd:complexType name="validate">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg1" type="xsd:string" />
          <xsd:element name="arg2" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="validateResponse" type="tns:validateResponse" />
      <xsd:complexType name="validateResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="requireAppToken" type="tns:requireAppToken" />
      <xsd:complexType name="requireAppToken">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg1" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="requireAppTokenResponse" type="tns:requireAppTokenResponse" />
      <xsd:complexType name="requireAppTokenResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="logout" type="tns:logout" />
      <xsd:complexType name="logout">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="logoutResponse" type="tns:logoutResponse" />
      <xsd:complexType name="logoutResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="validateApp" type="tns:validateApp" />
      <xsd:complexType name="validateApp">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
          <xsd:element name="arg1" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="validateAppResponse" type="tns:validateAppResponse" />
      <xsd:complexType name="validateAppResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="logout">
    <wsdl:part name="parameters" element="tns:logout" />
  </wsdl:message>
  <wsdl:message name="requireAppTokenResponse">
    <wsdl:part name="parameters" element="tns:requireAppTokenResponse" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="validateAppResponse">
    <wsdl:part name="parameters" element="tns:validateAppResponse" />
  </wsdl:message>
  <wsdl:message name="validateResponse">
    <wsdl:part name="parameters" element="tns:validateResponse" />
  </wsdl:message>
  <wsdl:message name="testResponse">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="test">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="tns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="validate">
    <wsdl:part name="parameters" element="tns:validate" />
  </wsdl:message>
  <wsdl:message name="login">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="validateApp">
    <wsdl:part name="parameters" element="tns:validateApp" />
  </wsdl:message>
  <wsdl:message name="requireAppToken">
    <wsdl:part name="parameters" element="tns:requireAppToken" />
  </wsdl:message>
  <wsdl:portType name="Validator">
    <wsdl:operation name="test">
      <wsdl:input name="test" message="tns:test" />
      <wsdl:output name="testResponse" message="tns:testResponse" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input name="login" message="tns:login" />
      <wsdl:output name="loginResponse" message="tns:loginResponse" />
    </wsdl:operation>
    <wsdl:operation name="validate">
      <wsdl:input name="validate" message="tns:validate" />
      <wsdl:output name="validateResponse" message="tns:validateResponse" />
    </wsdl:operation>
    <wsdl:operation name="requireAppToken">
      <wsdl:input name="requireAppToken" message="tns:requireAppToken" />
      <wsdl:output name="requireAppTokenResponse" message="tns:requireAppTokenResponse" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input name="logout" message="tns:logout" />
      <wsdl:output name="logoutResponse" message="tns:logoutResponse" />
    </wsdl:operation>
    <wsdl:operation name="validateApp">
      <wsdl:input name="validateApp" message="tns:validateApp" />
      <wsdl:output name="validateAppResponse" message="tns:validateAppResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidatorImplServiceSoapBinding" type="tns:Validator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="test">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="testResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="login">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requireAppToken">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="requireAppToken">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="requireAppTokenResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="logout">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="logoutResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateApp">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validateApp">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validateAppResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidatorImplService">
    <wsdl:port name="ValidatorImplPort" binding="tns:ValidatorImplServiceSoapBinding">
      <soap:address location="http://portal.cbpmc.cbpm/AuthCenter/services/validate" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>