DigitalPlatform.LibraryClient/Service References/localhost/metadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dp2003.com/dp2library/rest" elementFormDefault="qualified" targetNamespace="http://dp2003.com/dp2library/rest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/dp2library/metadata?xsd=xsd0" namespace="http://dp2003.com/dp2library/" />
  <xs:import schemaLocation="http://localhost:8001/dp2library/metadata?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" />
  <xs:import schemaLocation="http://localhost:8001/dp2library/metadata?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8001/dp2library/metadata?xsd=xsd2" namespace="http://dp2003.com/dp2kernel/" />
  <xs:element name="SetComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://dp2003.com/dp2library/" minOccurs="0" name="commentinfos" nillable="true" type="q1:ArrayOfEntityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetCommentsResult" nillable="true" type="q2:LibraryServerResult" />
        <xs:element xmlns:q3="http://dp2003.com/dp2library/" minOccurs="0" name="errorinfos" nillable="true" type="q3:ArrayOfEntityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strRefID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strItemXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetCommentInfoResult" nillable="true" type="q4:LibraryServerResult" />
        <xs:element minOccurs="0" name="strResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCommentRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment_timestamp" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="strBiblio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputBiblioRecPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCommentDup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strIndex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nMax" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCommentDupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchCommentDupResult" nillable="true" type="q5:LibraryServerResult" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCommentDbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strQueryWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nPerMax" type="xs:int" />
        <xs:element minOccurs="0" name="strFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMatchStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultSetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSearchStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchCommentResult" nillable="true" type="q7:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="message_ids" nillable="true" type="q8:ArrayOfstring" />
        <xs:element xmlns:q9="http://dp2003.com/dp2library/" minOccurs="0" name="messagelevel" type="q9:MessageLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetMessageResult" nillable="true" type="q10:LibraryServerResult" />
        <xs:element xmlns:q11="http://dp2003.com/dp2library/" minOccurs="0" name="messages" nillable="true" type="q11:ArrayOfMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultsetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBoxType" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://dp2003.com/dp2library/" minOccurs="0" name="messagelevel" type="q12:MessageLevel" />
        <xs:element minOccurs="0" name="nStart" type="xs:int" />
        <xs:element minOccurs="0" name="nCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="ListMessageResult" nillable="true" type="q13:LibraryServerResult" />
        <xs:element minOccurs="0" name="nTotalCount" type="xs:int" />
        <xs:element xmlns:q14="http://dp2003.com/dp2library/" minOccurs="0" name="messages" nillable="true" type="q14:ArrayOfMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://dp2003.com/dp2library/" minOccurs="0" name="messages" nillable="true" type="q15:ArrayOfMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetMessageResult" nillable="true" type="q16:LibraryServerResult" />
        <xs:element xmlns:q17="http://dp2003.com/dp2library/" minOccurs="0" name="output_messages" nillable="true" type="q17:ArrayOfMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strDateRangeString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetStatisInfoResult" nillable="true" type="q18:LibraryServerResult" />
        <xs:element xmlns:q19="http://dp2003.com/dp2library/" minOccurs="0" name="info" nillable="true" type="q19:RangeStatisInfo" />
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistStatisInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strDateRangeString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistStatisInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="ExistStatisInfoResult" nillable="true" type="q20:LibraryServerResult" />
        <xs:element xmlns:q21="http://dp2003.com/dp2library/" minOccurs="0" name="dates" nillable="true" type="q21:ArrayOfDateExist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lStart" type="xs:long" />
        <xs:element minOccurs="0" name="lLength" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetFileResult" nillable="true" type="q22:LibraryServerResult" />
        <xs:element minOccurs="0" name="baContent" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="strFileTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lStart" type="xs:long" />
        <xs:element minOccurs="0" name="lLength" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="ListFileResult" nillable="true" type="q23:LibraryServerResult" />
        <xs:element xmlns:q24="http://dp2003.com/dp2library/" minOccurs="0" name="infos" nillable="true" type="q24:ArrayOfFileItemInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HitCounter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strClientAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HitCounterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="HitCounterResult" nillable="true" type="q25:LibraryServerResult" />
        <xs:element minOccurs="0" name="Value" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCharging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patronBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeRange" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actions" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="order" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:long" />
        <xs:element minOccurs="0" name="count" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchChargingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchChargingResult" nillable="true" type="q26:LibraryServerResult" />
        <xs:element xmlns:q27="http://dp2003.com/dp2library/" minOccurs="0" name="results" nillable="true" type="q27:ArrayOfChargingItemWrapper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindPatron">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strQueryWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBindingID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultTypeList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindPatronResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="BindPatronResult" nillable="true" type="q28:LibraryServerResult" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="results" nillable="true" type="q29:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetVersionResult" nillable="true" type="q30:LibraryServerResult" />
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strParameters" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="LoginResult" nillable="true" type="q31:LibraryServerResult" />
        <xs:element minOccurs="0" name="strOutputUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strRights" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLibraryCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="LogoutResult" nillable="true" type="q32:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetLangResult" nillable="true" type="q33:LibraryServerResult" />
        <xs:element minOccurs="0" name="strOldLang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyReaderPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strReaderBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReaderPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyReaderPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="VerifyReaderPasswordResult" nillable="true" type="q34:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeReaderPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strReaderBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReaderOldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReaderNewPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeReaderPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="ChangeReaderPasswordResult" nillable="true" type="q35:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultTypeList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetReaderInfoResult" nillable="true" type="q36:LibraryServerResult" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="results" nillable="true" type="q37:ArrayOfstring" />
        <xs:element minOccurs="0" name="strRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baTimestamp" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReaderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strNewXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOldXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baOldTimestamp" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReaderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetReaderInfoResult" nillable="true" type="q38:LibraryServerResult" />
        <xs:element minOccurs="0" name="strExistingXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSavedXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSavedRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baNewTimestamp" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q39="http://dp2003.com/dp2kernel/" minOccurs="0" name="kernel_errorcode" type="q39:ErrorCodeValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveReaderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSourceRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strTargetRecPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveReaderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="MoveReaderInfoResult" nillable="true" type="q40:LibraryServerResult" />
        <xs:element minOccurs="0" name="strTargetRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="target_timestamp" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolveReaderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSourceReaderBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strTargetReaderBarcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolveReaderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="DevolveReaderInfoResult" nillable="true" type="q41:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchReader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strReaderDbNames" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strQueryWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nPerMax" type="xs:int" />
        <xs:element minOccurs="0" name="strFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMatchStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultSetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchReaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchReaderResult" nillable="true" type="q42:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReaderBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strComment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetFriendsResult" nillable="true" type="q43:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOneDb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strQueryWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMatchStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lMaxCount" type="xs:long" />
        <xs:element minOccurs="0" name="strResultSetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOneDbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchOneDbResult" nillable="true" type="q44:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strQueryXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultSetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchResult" nillable="true" type="q45:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strResultSetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lStart" type="xs:long" />
        <xs:element minOccurs="0" name="lCount" type="xs:long" />
        <xs:element minOccurs="0" name="strBrowseInfoStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetSearchResultResult" nillable="true" type="q46:LibraryServerResult" />
        <xs:element xmlns:q47="http://dp2003.com/dp2kernel/" minOccurs="0" name="searchresults" nillable="true" type="q47:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetRecordResult" nillable="true" type="q48:LibraryServerResult" />
        <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrowseRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q49:ArrayOfstring" />
        <xs:element minOccurs="0" name="strBrowseInfoStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrowseRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetBrowseRecordsResult" nillable="true" type="q50:LibraryServerResult" />
        <xs:element xmlns:q51="http://dp2003.com/dp2kernel/" minOccurs="0" name="searchresults" nillable="true" type="q51:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBiblioDbFroms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strDbType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBiblioDbFromsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="ListBiblioDbFromsResult" nillable="true" type="q52:LibraryServerResult" />
        <xs:element xmlns:q53="http://dp2003.com/dp2library/" minOccurs="0" name="infos" nillable="true" type="q53:ArrayOfBiblioDbFromInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBiblio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBiblioDbNames" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strQueryWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nPerMax" type="xs:int" />
        <xs:element minOccurs="0" name="strFromStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMatchStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultSetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSearchStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBiblioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchBiblioResult" nillable="true" type="q54:LibraryServerResult" />
        <xs:element minOccurs="0" name="strQueryXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBiblioInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baTimestamp" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="strComment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBiblioInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetBiblioInfoResult" nillable="true" type="q55:LibraryServerResult" />
        <xs:element minOccurs="0" name="strOutputBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baOutputTimestamp" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyBiblioInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baTimestamp" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="strNewBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strNewBiblio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMergeStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyBiblioInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="CopyBiblioInfoResult" nillable="true" type="q56:LibraryServerResult" />
        <xs:element minOccurs="0" name="strOutputBiblio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baOutputTimestamp" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBiblioInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBiblioInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetBiblioInfoResult" nillable="true" type="q57:LibraryServerResult" />
        <xs:element minOccurs="0" name="strBiblio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBiblioInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioXml" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="formats" nillable="true" type="q58:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBiblioInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetBiblioInfosResult" nillable="true" type="q59:LibraryServerResult" />
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="results" nillable="true" type="q60:ArrayOfstring" />
        <xs:element minOccurs="0" name="baTimestamp" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strItemDbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strQueryWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nPerMax" type="xs:int" />
        <xs:element minOccurs="0" name="strFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMatchStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultSetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSearchStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchItemResult" nillable="true" type="q61:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strItemDbType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strItemXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetItemInfoResult" nillable="true" type="q62:LibraryServerResult" />
        <xs:element minOccurs="0" name="strResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strItemRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item_timestamp" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="strBiblio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchItemDup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nMax" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchItemDupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchItemDupResult" nillable="true" type="q63:LibraryServerResult" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q64:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBiblioSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strItemBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strConfirmItemRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioRecPathExclude" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBiblioSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetBiblioSummaryResult" nillable="true" type="q65:LibraryServerResult" />
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSummary" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Borrow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bRenew" type="xs:boolean" />
        <xs:element minOccurs="0" name="strReaderBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strItemBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strConfirmItemRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bForce" type="xs:boolean" />
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="saBorrowedItemBarcode" nillable="true" type="q66:ArrayOfstring" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strItemFormatList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReaderFormatList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioFormatList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="BorrowResult" nillable="true" type="q67:LibraryServerResult" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="item_records" nillable="true" type="q68:ArrayOfstring" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="reader_records" nillable="true" type="q69:ArrayOfstring" />
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="biblio_records" nillable="true" type="q70:ArrayOfstring" />
        <xs:element xmlns:q71="http://dp2003.com/dp2library/" minOccurs="0" name="borrow_info" nillable="true" type="q71:BorrowInfo" />
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="aDupPath" nillable="true" type="q72:ArrayOfstring" />
        <xs:element minOccurs="0" name="strOutputReaderBarcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Return">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReaderBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strItemBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strComfirmItemRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bForce" type="xs:boolean" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strItemFormatList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReaderFormatList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioFormatList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="ReturnResult" nillable="true" type="q73:LibraryServerResult" />
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="item_records" nillable="true" type="q74:ArrayOfstring" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="reader_records" nillable="true" type="q75:ArrayOfstring" />
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="biblio_records" nillable="true" type="q76:ArrayOfstring" />
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="aDupPath" nillable="true" type="q77:ArrayOfstring" />
        <xs:element minOccurs="0" name="strOutputReaderBarcode" nillable="true" type="xs:string" />
        <xs:element xmlns:q78="http://dp2003.com/dp2library/" minOccurs="0" name="return_info" nillable="true" type="q78:ReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFunction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReaderBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strItemBarcodeList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="ReservationResult" nillable="true" type="q79:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Amerce">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFunction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReaderBarcode" nillable="true" type="xs:string" />
        <xs:element xmlns:q80="http://dp2003.com/dp2library/" minOccurs="0" name="amerce_items" nillable="true" type="q80:ArrayOfAmerceItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmerceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="AmerceResult" nillable="true" type="q81:LibraryServerResult" />
        <xs:element xmlns:q82="http://dp2003.com/dp2library/" minOccurs="0" name="failed_items" nillable="true" type="q82:ArrayOfAmerceItem" />
        <xs:element minOccurs="0" name="strReaderXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lStart" type="xs:long" />
        <xs:element minOccurs="0" name="lCount" type="xs:long" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetIssuesResult" nillable="true" type="q83:LibraryServerResult" />
        <xs:element xmlns:q84="http://dp2003.com/dp2library/" minOccurs="0" name="issueinfos" nillable="true" type="q84:ArrayOfEntityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIssues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element xmlns:q85="http://dp2003.com/dp2library/" minOccurs="0" name="issueinfos" nillable="true" type="q85:ArrayOfEntityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIssuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetIssuesResult" nillable="true" type="q86:LibraryServerResult" />
        <xs:element xmlns:q87="http://dp2003.com/dp2library/" minOccurs="0" name="errorinfos" nillable="true" type="q87:ArrayOfEntityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strRefID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strItemXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetIssueInfoResult" nillable="true" type="q88:LibraryServerResult" />
        <xs:element minOccurs="0" name="strResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strIssueRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="issue_timestamp" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="strBiblio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputBiblioRecPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchIssueDup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strPublishTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nMax" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchIssueDupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchIssueDupResult" nillable="true" type="q89:LibraryServerResult" />
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q90:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strIssueDbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strQueryWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nPerMax" type="xs:int" />
        <xs:element minOccurs="0" name="strFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMatchStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultSetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSearchStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchIssueResult" nillable="true" type="q91:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lStart" type="xs:long" />
        <xs:element minOccurs="0" name="lCount" type="xs:long" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetEntitiesResult" nillable="true" type="q92:LibraryServerResult" />
        <xs:element xmlns:q93="http://dp2003.com/dp2library/" minOccurs="0" name="entityinfos" nillable="true" type="q93:ArrayOfEntityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element xmlns:q94="http://dp2003.com/dp2library/" minOccurs="0" name="entityinfos" nillable="true" type="q94:ArrayOfEntityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetEntitiesResult" nillable="true" type="q95:LibraryServerResult" />
        <xs:element xmlns:q96="http://dp2003.com/dp2library/" minOccurs="0" name="errorinfos" nillable="true" type="q96:ArrayOfEntityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lStart" type="xs:long" />
        <xs:element minOccurs="0" name="lCount" type="xs:long" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetOrdersResult" nillable="true" type="q97:LibraryServerResult" />
        <xs:element xmlns:q98="http://dp2003.com/dp2library/" minOccurs="0" name="orderinfos" nillable="true" type="q98:ArrayOfEntityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element xmlns:q99="http://dp2003.com/dp2library/" minOccurs="0" name="orderinfos" nillable="true" type="q99:ArrayOfEntityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetOrdersResult" nillable="true" type="q100:LibraryServerResult" />
        <xs:element xmlns:q101="http://dp2003.com/dp2library/" minOccurs="0" name="errorinfos" nillable="true" type="q101:ArrayOfEntityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strRefID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strItemXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetOrderInfoResult" nillable="true" type="q102:LibraryServerResult" />
        <xs:element minOccurs="0" name="strResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOrderRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="order_timestamp" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="strBiblio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputBiblioRecPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOrderDup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strIndex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nMax" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOrderDupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchOrderDupResult" nillable="true" type="q103:LibraryServerResult" />
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q104:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strOrderDbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strQueryWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nPerMax" type="xs:int" />
        <xs:element minOccurs="0" name="strFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMatchStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultSetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSearchStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchOrderResult" nillable="true" type="q105:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetClockResult" nillable="true" type="q106:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClock">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetClockResult" nillable="true" type="q107:LibraryServerResult" />
        <xs:element minOccurs="0" name="strTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strParameters" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMessageTemplate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="ResetPasswordResult" nillable="true" type="q108:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strTableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDbName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetValueTableResult" nillable="true" type="q109:LibraryServerResult" />
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="values" nillable="true" type="q110:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lIndex" type="xs:long" />
        <xs:element minOccurs="0" name="lHint" type="xs:long" />
        <xs:element minOccurs="0" name="nCount" type="xs:int" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFilter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetOperLogsResult" nillable="true" type="q111:LibraryServerResult" />
        <xs:element xmlns:q112="http://dp2003.com/dp2library/" minOccurs="0" name="records" nillable="true" type="q112:ArrayOfOperLogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lIndex" type="xs:long" />
        <xs:element minOccurs="0" name="lHint" type="xs:long" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lAttachmentFragmentStart" type="xs:long" />
        <xs:element minOccurs="0" name="nAttachmentFragmentLength" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetOperLogResult" nillable="true" type="q113:LibraryServerResult" />
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lHintNext" type="xs:long" />
        <xs:element minOccurs="0" name="attachment_data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="lAttachmentTotalLength" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nStart" type="xs:int" />
        <xs:element minOccurs="0" name="nCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetCalendarResult" nillable="true" type="q114:LibraryServerResult" />
        <xs:element xmlns:q115="http://dp2003.com/dp2library/" minOccurs="0" name="contents" nillable="true" type="q115:ArrayOfCalenderInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element xmlns:q116="http://dp2003.com/dp2library/" minOccurs="0" name="info" nillable="true" type="q116:CalenderInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetCalendarResult" nillable="true" type="q117:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element xmlns:q118="http://dp2003.com/dp2library/" minOccurs="0" name="info" nillable="true" type="q118:BatchTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="BatchTaskResult" nillable="true" type="q119:LibraryServerResult" />
        <xs:element xmlns:q120="http://dp2003.com/dp2library/" minOccurs="0" name="resultInfo" nillable="true" type="q120:BatchTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAllDbs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAllDbsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="ClearAllDbsResult" nillable="true" type="q121:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDatabaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDatabaseInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="ManageDatabaseResult" nillable="true" type="q122:LibraryServerResult" />
        <xs:element minOccurs="0" name="strOutputInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nStart" type="xs:int" />
        <xs:element minOccurs="0" name="nCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetUserResult" nillable="true" type="q123:LibraryServerResult" />
        <xs:element xmlns:q124="http://dp2003.com/dp2library/" minOccurs="0" name="contents" nillable="true" type="q124:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element xmlns:q125="http://dp2003.com/dp2library/" minOccurs="0" name="info" nillable="true" type="q125:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetUserResult" nillable="true" type="q126:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strQuery" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nStart" type="xs:int" />
        <xs:element minOccurs="0" name="nCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetChannelInfoResult" nillable="true" type="q127:LibraryServerResult" />
        <xs:element xmlns:q128="http://dp2003.com/dp2library/" minOccurs="0" name="contents" nillable="true" type="q128:ArrayOfChannelInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
        <xs:element xmlns:q129="http://dp2003.com/dp2library/" minOccurs="0" name="requests" nillable="true" type="q129:ArrayOfChannelInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="ManageChannelResult" nillable="true" type="q130:LibraryServerResult" />
        <xs:element xmlns:q131="http://dp2003.com/dp2library/" minOccurs="0" name="results" nillable="true" type="q131:ArrayOfChannelInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strNewPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="ChangeUserPasswordResult" nillable="true" type="q132:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyBarcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLibraryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBarcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="VerifyBarcodeResult" nillable="true" type="q133:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetSystemParameterResult" nillable="true" type="q134:LibraryServerResult" />
        <xs:element minOccurs="0" name="strValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSystemParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSystemParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetSystemParameterResult" nillable="true" type="q135:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UrgentRecover">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UrgentRecoverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="UrgentRecoverResult" nillable="true" type="q136:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RepairBorrowInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReaderBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strItemBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strConfirmItemRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nStart" type="xs:int" />
        <xs:element minOccurs="0" name="nCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RepairBorrowInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="RepairBorrowInfoResult" nillable="true" type="q137:LibraryServerResult" />
        <xs:element minOccurs="0" name="nProcessedBorrowItems" type="xs:int" />
        <xs:element minOccurs="0" name="nTotalBorrowItems" type="xs:int" />
        <xs:element minOccurs="0" name="strOutputReaderBarcode" nillable="true" type="xs:string" />
        <xs:element xmlns:q138="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="aDupPath" nillable="true" type="q138:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PassGate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strReaderBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strGateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultTypeList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PassGateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="PassGateResult" nillable="true" type="q139:LibraryServerResult" />
        <xs:element xmlns:q140="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="results" nillable="true" type="q140:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Foregift">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReaderBarcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForegiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="ForegiftResult" nillable="true" type="q141:LibraryServerResult" />
        <xs:element minOccurs="0" name="strOutputReaderXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReaderBarcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="HireResult" nillable="true" type="q142:LibraryServerResult" />
        <xs:element minOccurs="0" name="strOutputReaderXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Settlement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element xmlns:q143="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q143:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettlementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SettlementResult" nillable="true" type="q144:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOneClassCallNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strArrangeGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strClass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultSetName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOneClassCallNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchOneClassCallNumberResult" nillable="true" type="q145:LibraryServerResult" />
        <xs:element minOccurs="0" name="strQueryXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallNumberSearchResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strArrangeGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultSetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lStart" type="xs:long" />
        <xs:element minOccurs="0" name="lCount" type="xs:long" />
        <xs:element minOccurs="0" name="strBrowseInfoStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallNumberSearchResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetCallNumberSearchResultResult" nillable="true" type="q146:LibraryServerResult" />
        <xs:element xmlns:q147="http://dp2003.com/dp2library/" minOccurs="0" name="searchresults" nillable="true" type="q147:ArrayOfCallNumberSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneClassTailNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strArrangeGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strClass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneClassTailNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetOneClassTailNumberResult" nillable="true" type="q148:LibraryServerResult" />
        <xs:element minOccurs="0" name="strTailNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOneClassTailNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strArrangeGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strClass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strTestNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOneClassTailNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetOneClassTailNumberResult" nillable="true" type="q149:LibraryServerResult" />
        <xs:element minOccurs="0" name="strOutputNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUsedZhongcihao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strZhongcihaoGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strClass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultSetName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUsedZhongcihaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchUsedZhongcihaoResult" nillable="true" type="q150:LibraryServerResult" />
        <xs:element minOccurs="0" name="strQueryXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZhongcihaoSearchResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strZhongcihaoGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strResultSetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lStart" type="xs:long" />
        <xs:element minOccurs="0" name="lCount" type="xs:long" />
        <xs:element minOccurs="0" name="strBrowseInfoStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZhongcihaoSearchResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetZhongcihaoSearchResultResult" nillable="true" type="q151:LibraryServerResult" />
        <xs:element xmlns:q152="http://dp2003.com/dp2library/" minOccurs="0" name="searchresults" nillable="true" type="q152:ArrayOfZhongcihaoSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZhongcihaoTailNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strZhongcihaoGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strClass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZhongcihaoTailNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetZhongcihaoTailNumberResult" nillable="true" type="q153:LibraryServerResult" />
        <xs:element minOccurs="0" name="strTailNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetZhongcihaoTailNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strZhongcihaoGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strClass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strTestNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetZhongcihaoTailNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetZhongcihaoTailNumberResult" nillable="true" type="q154:LibraryServerResult" />
        <xs:element minOccurs="0" name="strOutputNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strOriginBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOriginBiblioRecXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strProjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SearchDupResult" nillable="true" type="q155:LibraryServerResult" />
        <xs:element minOccurs="0" name="strUsedProjectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDupSearchResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lStart" type="xs:long" />
        <xs:element minOccurs="0" name="lCount" type="xs:long" />
        <xs:element minOccurs="0" name="strBrowseInfoStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDupSearchResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetDupSearchResultResult" nillable="true" type="q156:LibraryServerResult" />
        <xs:element xmlns:q157="http://dp2003.com/dp2library/" minOccurs="0" name="searchresults" nillable="true" type="q157:ArrayOfDupSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDupProjectInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strOriginBiblioDbName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDupProjectInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="ListDupProjectInfosResult" nillable="true" type="q158:LibraryServerResult" />
        <xs:element xmlns:q159="http://dp2003.com/dp2library/" minOccurs="0" name="results" nillable="true" type="q159:ArrayOfDupProjectInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strValueAttrName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetUtilInfoResult" nillable="true" type="q160:LibraryServerResult" />
        <xs:element minOccurs="0" name="strValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUtilInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strRootElementName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strKeyAttrName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strValueAttrName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUtilInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="SetUtilInfoResult" nillable="true" type="q161:LibraryServerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strResPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nStart" type="xs:long" />
        <xs:element minOccurs="0" name="nLength" type="xs:int" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetResResult" nillable="true" type="q162:LibraryServerResult" />
        <xs:element minOccurs="0" name="baContent" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="strMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutputResPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baOutputTimestamp" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteRes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strResPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strRanges" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lTotalLength" type="xs:long" />
        <xs:element minOccurs="0" name="baContent" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="strMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baInputTimestamp" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteResResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="WriteResResult" nillable="true" type="q163:LibraryServerResult" />
        <xs:element minOccurs="0" name="strOutputResPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baOutputTimestamp" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBiblioRecPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lStart" type="xs:long" />
        <xs:element minOccurs="0" name="lCount" type="xs:long" />
        <xs:element minOccurs="0" name="strStyle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/DigitalPlatform.LibraryServer" minOccurs="0" name="GetCommentsResult" nillable="true" type="q164:LibraryServerResult" />
        <xs:element xmlns:q165="http://dp2003.com/dp2library/" minOccurs="0" name="commentinfos" nillable="true" type="q165:ArrayOfEntityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>