DigitalPlatform.GcatClient/Service References/gcat_new_ws/GcatService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://dp2003.com/gcat/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GcatService" targetNamespace="http://dp2003.com/gcat/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_GcatService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://dp2003.com/gcat/Imports">
      <xsd:import schemaLocation="http://localhost/gcatserver/metadata?xsd=xsd0" namespace="http://dp2003.com/gcat/" />
      <xsd:import schemaLocation="http://localhost/gcatserver/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/gcatserver/metadata?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GcatService_GetNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumber" />
  </wsdl:message>
  <wsdl:message name="GcatService_GetNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GcatService_GetPinyin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPinyin" />
  </wsdl:message>
  <wsdl:message name="GcatService_GetPinyin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPinyinResponse" />
  </wsdl:message>
  <wsdl:message name="GcatService_SetPinyin_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPinyin" />
  </wsdl:message>
  <wsdl:message name="GcatService_SetPinyin_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPinyinResponse" />
  </wsdl:message>
  <wsdl:message name="GcatService_SplitHanzi_InputMessage">
    <wsdl:part name="parameters" element="tns:SplitHanzi" />
  </wsdl:message>
  <wsdl:message name="GcatService_SplitHanzi_OutputMessage">
    <wsdl:part name="parameters" element="tns:SplitHanziResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="GcatService">
    <wsdl:operation name="GetNumber">
      <wsdl:input wsaw:Action="http://dp2003.com/gcat/GcatService/GetNumber" message="tns:GcatService_GetNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://dp2003.com/gcat/GcatService/GetNumberResponse" message="tns:GcatService_GetNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPinyin">
      <wsdl:input wsaw:Action="http://dp2003.com/gcat/GcatService/GetPinyin" message="tns:GcatService_GetPinyin_InputMessage" />
      <wsdl:output wsaw:Action="http://dp2003.com/gcat/GcatService/GetPinyinResponse" message="tns:GcatService_GetPinyin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPinyin">
      <wsdl:input wsaw:Action="http://dp2003.com/gcat/GcatService/SetPinyin" message="tns:GcatService_SetPinyin_InputMessage" />
      <wsdl:output wsaw:Action="http://dp2003.com/gcat/GcatService/SetPinyinResponse" message="tns:GcatService_SetPinyin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SplitHanzi">
      <wsdl:input wsaw:Action="http://dp2003.com/gcat/GcatService/SplitHanzi" message="tns:GcatService_SplitHanzi_InputMessage" />
      <wsdl:output wsaw:Action="http://dp2003.com/gcat/GcatService/SplitHanziResponse" message="tns:GcatService_SplitHanzi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_GcatService" type="tns:GcatService">
    <wsp:PolicyReference URI="#BasicHttpBinding_GcatService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNumber">
      <soap:operation soapAction="http://dp2003.com/gcat/GcatService/GetNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPinyin">
      <soap:operation soapAction="http://dp2003.com/gcat/GcatService/GetPinyin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPinyin">
      <soap:operation soapAction="http://dp2003.com/gcat/GcatService/SetPinyin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SplitHanzi">
      <soap:operation soapAction="http://dp2003.com/gcat/GcatService/SplitHanzi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GcatService">
    <wsdl:port name="BasicHttpBinding_GcatService" binding="tns:BasicHttpBinding_GcatService">
      <soap:address location="http://localhost/gcatserver/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>