DigitalPlatform.rms.Client/Service References/rmsws_localhost/metadata41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DigitalPlatform.rms" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DigitalPlatform.rms" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogicNameItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogicNameItem" nillable="true" type="tns:LogicNameItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogicNameItem" nillable="true" type="tns:ArrayOfLogicNameItem" />
  <xs:complexType name="LogicNameItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogicNameItem" nillable="true" type="tns:LogicNameItem" />
</xs:schema>