DigitalPlatform.LibraryServer/validate.xml

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ValidatorImplService" targetNamespace="http://webservice.authentication.cbpm.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.authentication.cbpm.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.authentication.cbpm.com/" xmlns:tns="http://webservice.authentication.cbpm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="test" type="tns:test" />
      <xsd:complexType name="test">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg1" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="testResponse" type="tns:testResponse" />
      <xsd:complexType name="testResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="login" type="tns:login" />
      <xsd:complexType name="login">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg1" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg2" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="loginResponse" type="tns:loginResponse" />
      <xsd:complexType name="loginResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="validate" type="tns:validate" />
      <xsd:complexType name="validate">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg1" type="xsd:string" />
          <xsd:element name="arg2" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="validateResponse" type="tns:validateResponse" />
      <xsd:complexType name="validateResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="requireAppToken" type="tns:requireAppToken" />
      <xsd:complexType name="requireAppToken">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg1" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="requireAppTokenResponse" type="tns:requireAppTokenResponse" />
      <xsd:complexType name="requireAppTokenResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="logout" type="tns:logout" />
      <xsd:complexType name="logout">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="logoutResponse" type="tns:logoutResponse" />
      <xsd:complexType name="logoutResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="validateApp" type="tns:validateApp" />
      <xsd:complexType name="validateApp">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
          <xsd:element name="arg1" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="validateAppResponse" type="tns:validateAppResponse" />
      <xsd:complexType name="validateAppResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="logout">
    <wsdl:part element="tns:logout" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requireAppTokenResponse">
    <wsdl:part element="tns:requireAppTokenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part element="tns:loginResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateAppResponse">
    <wsdl:part element="tns:validateAppResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateResponse">
    <wsdl:part element="tns:validateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testResponse">
    <wsdl:part element="tns:testResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="test">
    <wsdl:part element="tns:test" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part element="tns:logoutResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validate">
    <wsdl:part element="tns:validate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="login">
    <wsdl:part element="tns:login" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateApp">
    <wsdl:part element="tns:validateApp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requireAppToken">
    <wsdl:part element="tns:requireAppToken" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Validator">
    <wsdl:operation name="test">
      <wsdl:input message="tns:test" name="test">
      </wsdl:input>
      <wsdl:output message="tns:testResponse" name="testResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:login" name="login">
      </wsdl:input>
      <wsdl:output message="tns:loginResponse" name="loginResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validate">
      <wsdl:input message="tns:validate" name="validate">
      </wsdl:input>
      <wsdl:output message="tns:validateResponse" name="validateResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requireAppToken">
      <wsdl:input message="tns:requireAppToken" name="requireAppToken">
      </wsdl:input>
      <wsdl:output message="tns:requireAppTokenResponse" name="requireAppTokenResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input message="tns:logout" name="logout">
      </wsdl:input>
      <wsdl:output message="tns:logoutResponse" name="logoutResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateApp">
      <wsdl:input message="tns:validateApp" name="validateApp">
      </wsdl:input>
      <wsdl:output message="tns:validateAppResponse" name="validateAppResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidatorImplServiceSoapBinding" type="tns:Validator">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="test">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="testResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="login">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requireAppToken">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="requireAppToken">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="requireAppTokenResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="logout">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="logoutResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateApp">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validateApp">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validateAppResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidatorImplService">
    <wsdl:port binding="tns:ValidatorImplServiceSoapBinding" name="ValidatorImplPort">
      <soap:address location="http://portal.cbpmc.cbpm/AuthCenter/services/validate" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
